<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>App_Log_Collection</title>
    <style>
        .container {
            display: flex;
            width: 100%;
            height: 152vh;
        }

        .button-container {
            flex: 1;
            padding: 10px;
            background-color: #f0f0f0;
        }

        .log-container {
            flex: 1;
            display: flex;
            flex-direction: column;
        }

        .log-box1 {
            /*flex: 1;*/
            height: 500px;
            padding: 10px;
            background-color: #fff;
        }

        .log-box2 {
            flex: 1;
            padding: 10px;
            background-color: #fff;
        }

        .grayed-out {
            color: #777; /* Gray text color */
        }

        .stop-button {
            background-color: red;
        }

        button {
            display: block;
            width: 100%;
            margin-bottom: 10px;
            padding: 5px;
        }

        textarea {
            width: 100%;
            height: 100%;
        }

    </style>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<table>
    <tr>
        <td>
        <h2 style="color:blue ; font-size:20px">Server 4: Lighttpd </h2>
        </td>
        <td>
        <h2 style="color:red ; font-size:20px">  Specify Database: </h2>
        </td>
        <td>
        <form action="", method="post">
            <select name="name" id="database_select" onchange="toggleElements()">
                <option value="mysql">Mysql</option>
                <option value="postgresql">PostgreSQL</option>
                <option value="redis">Redis</option>
                <option value="mongodb">MongoDB</option>
                <option value="influxdb">InfluxDB</option>
                <option value="neo4j">Neo4j</option>
            </select>
        </form>
        </td>
        <td>
        <h2 style="color:green ; font-size:20px">Port: 5004(lighttpd) <- 5024(flask)</h2>
        </td>
        <td><input type="button" id="control-button" class="start-button" value="Start Sysdig" onclick="toggleAction()"></td>
        <td><input type="button" id="download_button" value="Download Correspond Logs" onclick='get_log()'></td>
        <td><input type="checkbox" id="system_log_checkbox"></td>
        <td><label for="system_log_checkbox" id="system_log_checkbox_label">Check if include Systemlog</label></td>
        <td><h5 id="status-text"></h5></td>
    </tr>
</table>
    <div class="container">
        <div class="button-container">
            <table id="table_0">
                <tr>
                    <h5 id="h5_0">0. Bash Command</h5>
                </tr>
                <tr>
                <td>Execute Sequence</td>
                <td><input type="text" name="" id="bash_sequence" class="grayed-out" value="1,2,3,4,5,6,7,8,9,10,11"></td>
                <td>Each</td>
                <td><input type="text" name="" id="bash_frequency" class="grayed-out" value="10"></td>
                <td>Times</td>
                <td><input type="button" value="Submit" onclick='bash_command()'></td>
                <td><input type="checkbox" id="bash_command_checkbox"></td>
                <td><label for="bash_command_checkbox" id="bash_command_checkbox_label">Check if auto download logs</label></td>
                </tr>
            </table>
            <table id="table_1">
                <tr>
                    <h5 id="h5_1">1. Create Database User</h5>
                </tr>
                <tr>
                <td>UserName:</td>
                <td><input type="text" name="" id="db_uname" class="grayed-out" value="wangdali"></td>
                <td>Password:</td>
                <td><input type="text" name="" id="db_pwd" class="grayed-out" value="asu123!@#"></td>
                <td><input type="button" value="Create" id="create_db_user" onclick='create_db_user()'></td>
                <td><input type="button" value="Query_DB_User" onclick='query_db_user()'></td>
                </tr>
            </table>
            <table id="table_2">
                <tr>
                    <h5 id="h5_2">2. Delete Database User</h5>
                </tr>
                <tr>
                <td>UserName:</td>
                <td><input type="text" name="" id="db_uname_delete" class="grayed-out" value="wangdali"></td>
                <td><input type="button" value="Delete" id="delete_db_user" onclick='delete_db_user()'></td>
                <td><input type="button" value="Query_DB_User" onclick='query_db_user()'></td>
                </tr>
            </table>
            <table id="table_3">
                <tr>
                    <h5 id="h5_3">3. Change Database Password</h5>
                </tr>
                <tr>
                <td>UserName:</td>
                <td><input type="text" name="" id="db_uname_change" class="grayed-out" value="wangdali"></td>
                <td>Password:</td>
                <td><input type="text" name="" id="db_pwd_change" class="grayed-out" value="asu321!@#"></td>
                <td><input type="button" value="Change" id="db_changepwd" onclick='db_changepwd()'></td>
                <td><input type="button" value="Query_DB_User_Password(MD5)" onclick='query_db_user_password()'></td>
                </tr>
            </table>
            <table id="table_4">
                <tr>
                    <h5 id="h5_4">4. Create Database</h5>
                </tr>
                <tr>
                <td>Database Name:</td>
                <td><input type="text" name="" id="create_database_name" class="grayed-out" value="database1"></td>
                <td><input type="button" value="Create" id="create_database" onclick='create_database()'></td>
                <td><input type="button" value="Query_Database" onclick='query_database()'></td>
                </tr>
            </table>
            <table id="table_5">
                <tr>
                    <h5 id="h5_5">5. Delete Database</h5>
                </tr>
                <tr>
                <td>Database Name:</td>
                <td><input type="text" name="" id="delete_database_name" class="grayed-out" value="database1"></td>
                <td><input type="button" value="Delete" id="delete_database" onclick='delete_database()'></td>
                <td><input type="button" value="Query_Database" onclick='query_database()'></td>
                </tr>
            </table>
            <table id="table_6">
                <tr>
                    <h5 id="h5_6">6. Create Table</h5>
                </tr>
                <tr>
                <td>Table Name:</td>
                <td><input type="text" name="" id="create_table_name" class="grayed-out" value="table1"></td>
<!--                <td>Table SQL:</td>-->
<!--                <td><input type="text" name="" id="create_table_sql" placeholder="USE user_info;CREATE TABLE {Table Name} (employee_id INT AUTO"></td>-->
                <td><input type="button" value="Create" id="create_table" onclick='create_table()'></td>
                <td><input type="button" value="Query_Table" onclick='query_table()'></td>
                </tr>
            </table>
            <table id="table_7">
                <tr>
                    <h5 id="h5_7">7. Delete Table</h5>
                </tr>
                 <tr>
                <td>Table Name:</td>
                <td><input type="text" name="" id="delete_table_name" class="grayed-out" value="table1"></td>
                <td><input type="button" value="Delete" id="delete_table" onclick='delete_table()'></td>
                <td><input type="button" value="Query_Table" onclick='query_table()'></td>
                </tr>
            </table>
            <table>
                <tr>
                    <h5>8. Insert Data Row</h5>
                </tr>
                <tr>
                <td>Insert SQL:</td>
                <td><input type="text" name="" id="insert_sql" size="60" class="grayed-out" value="USE user_info;INSERT INTO usersinfo (name, password) VALUES ('John Doe', 'mysecretpassword');"></td>
                <td><input type="button" value="Insert" id="insert_data" onclick='insert_data()'></td>
                <td><input type="button" value="Query_Data" onclick='query_data()'></td>
                </tr>
            </table>
            <table>
                <tr>
                    <h5>9. Delete Data Row</h5>
                </tr>
                <tr>
                <td>Delete SQL:</td>
                <td><input type="text" name="" id="delete_sql" size="60" class="grayed-out" value="USE user_info;DELETE FROM usersinfo WHERE id IS NULL ORDER BY name DESC LIMIT 1;"></td>
                <td><input type="button" value="Delete" id="delete_data" onclick='delete_data()'></td>
                <td><input type="button" value="Query_Data" onclick='query_data()'></td>
                </tr>
            </table>
            <table>
                <tr>
                    <h5>10. Update Data Row</h5>
                </tr>
                <tr>
                <td>Update SQL:</td>
                <td><input type="text" name="" id="update_sql" size="60" class="grayed-out" value="USE user_info;UPDATE usersinfo SET password = 'new_password' WHERE name = 'John Doe';"></td>
                <td><input type="button" value="Update" id="update_data" onclick='update_data()'></td>
                <td><input type="button" value="Query_Data" onclick='query_data()'></td>
                </tr>
            </table>
            <table>
                <tr>
                    <h5>11. Query Data Row</h5>
                </tr>
                <tr>
                <td>Query SQL:</td>
                <td><input type="text" name="" id="query_sql" size="60" class="grayed-out" value="USE user_info;SELECT * FROM usersinfo;"></td>
                <td><input type="button" value="Query_Data" id="query_data" onclick='query_data()'></td>
                </tr>
            </table>
        </div>
        <div class="log-container">
            <div class="log-box1">
                <textarea id="log1" readonly></textarea>
            </div>
            <div class="log-box2">
                <textarea id="log2" readonly></textarea>
            </div>
            <div class="log-box2">
                <textarea id="log3" readonly></textarea>
            </div>
        </div>
    </div>

    <script>

    </script>
</body>
<script type="text/javascript">
let downloadCounter = 1;

function bash_command() {
    let bash_sequence_list = document.getElementById('bash_sequence').value.split(',')
    let bash_frequency = document.getElementById('bash_frequency').value
    let bash_command_checkbox_checked = document.getElementById('bash_command_checkbox').checked;
    for (let i = 0; i < bash_sequence_list.length; i++) {
        let bash_sequence_list_item = parseInt(bash_sequence_list[i].trim());
        document.getElementById("download_button").disabled = false;
        if (bash_sequence_list_item===1){
            downloadCounter = 1
            for (let i = 0; i < bash_frequency; i++) {
                document.getElementById("create_db_user").click();
            }
            if (bash_command_checkbox_checked){
                document.getElementById("download_button").click();
            }
        }
        if (bash_sequence_list_item===2){
            downloadCounter = 2
            for (let i = 0; i < bash_frequency; i++) {
                document.getElementById("delete_db_user").click();
            }
            if (bash_command_checkbox_checked){
                document.getElementById("download_button").click();
            }
        }
        if (bash_sequence_list_item===3){
            downloadCounter = 3
            for (let i = 0; i < bash_frequency; i++) {
                document.getElementById("db_changepwd").click();
            }
            if (bash_command_checkbox_checked){
                document.getElementById("download_button").click();
            }
        }
        if (bash_sequence_list_item===4){
            downloadCounter = 4
            for (let i = 0; i < bash_frequency; i++) {
                document.getElementById("create_database").click();
            }
            if (bash_command_checkbox_checked){
                document.getElementById("download_button").click();
            }
        }
        if (bash_sequence_list_item===5){
            downloadCounter = 5
            for (let i = 0; i < bash_frequency; i++) {
                document.getElementById("delete_database").click();
            }
            if (bash_command_checkbox_checked){
                document.getElementById("download_button").click();
            }
        }
        if (bash_sequence_list_item===6){
            downloadCounter = 6
            for (let i = 0; i < bash_frequency; i++) {
                document.getElementById("create_table").click();
            }
            if (bash_command_checkbox_checked){
                document.getElementById("download_button").click();
            }
        }
        if (bash_sequence_list_item===7){
            downloadCounter = 7
            for (let i = 0; i < bash_frequency; i++) {
                document.getElementById("delete_table").click();
            }
            if (bash_command_checkbox_checked){
                document.getElementById("download_button").click();
            }
        }
        if (bash_sequence_list_item===8){
            downloadCounter = 8
            for (let i = 0; i < bash_frequency; i++) {
                document.getElementById("insert_data").click();
            }
            if (bash_command_checkbox_checked){
                document.getElementById("download_button").click();
            }
        }
        if (bash_sequence_list_item===9){
            downloadCounter = 9
            for (let i = 0; i < bash_frequency; i++) {
                document.getElementById("delete_data").click();
            }
            if (bash_command_checkbox_checked){
                document.getElementById("download_button").click();
            }
        }
        if (bash_sequence_list_item===10){
            downloadCounter = 10
            for (let i = 0; i < bash_frequency; i++) {
                document.getElementById("update_data").click();
            }
            if (bash_command_checkbox_checked){
                document.getElementById("download_button").click();
            }
        }
        if (bash_sequence_list_item===11){
            downloadCounter = 11
            for (let i = 0; i < bash_frequency; i++) {
                document.getElementById("query_data").click();
            }
            if (bash_command_checkbox_checked){
                document.getElementById("download_button").click();
            }
        }
        downloadCounter = 1
    }
}

function create_db_user() {
    let formData = new FormData()
    formData.append('database_select', document.getElementById('database_select').value)
    formData.append('db_uname', document.getElementById('db_uname').value)
    formData.append('db_pwd', document.getElementById('db_pwd').value)
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: false,
        processData: false,
        url: "/create_db_user" ,
        data: formData,
        success: function(data) {
            var textbox1 = document.getElementById('log1');
            var textbox2 = document.getElementById('log2');
            textbox2.value = data.sql_result;
            textbox1.value = data.sql_log;
            textbox1.selectionStart = textbox1.value.length;
            textbox1.selectionEnd = textbox1.value.length;
            textbox1.focus();
        },
        error: function(xhr, status, error) {
        console.error(status + " - " + error);
        }
    });
}

function query_db_user() {
    let formData = new FormData()
    formData.append('database_select', document.getElementById('database_select').value)
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: false,
        processData: false,
        url: "/query_db_user" ,
        data: formData,
        success: function(data) {
            var textbox1 = document.getElementById('log1');
            var textbox2 = document.getElementById('log2');
            textbox2.value = data.sql_result;
            textbox1.value = data.sql_log;
            textbox1.selectionStart = textbox1.value.length;
            textbox1.selectionEnd = textbox1.value.length;
            textbox1.focus();
        },
        error: function(xhr, status, error) {
        console.error(status + " - " + error);
        }
    });
}

function delete_db_user() {
    let formData = new FormData()
    formData.append('database_select', document.getElementById('database_select').value)
    formData.append('db_uname_delete', document.getElementById('db_uname_delete').value)
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: false,
        processData: false,
        url: "/delete_db_user" ,
        data: formData,
        success: function(data) {
            var textbox1 = document.getElementById('log1');
            var textbox2 = document.getElementById('log2');
            textbox2.value = data.sql_result;
            textbox1.value = data.sql_log;
            textbox1.selectionStart = textbox1.value.length;
            textbox1.selectionEnd = textbox1.value.length;
            textbox1.focus();
        },
        error: function(xhr, status, error) {
        console.error(status + " - " + error);
        }
    });
}

function db_changepwd() {
    let formData = new FormData()
    formData.append('database_select', document.getElementById('database_select').value)
    formData.append('db_uname_change', document.getElementById('db_uname_change').value)
    formData.append('db_pwd_change', document.getElementById('db_pwd_change').value)
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: false,
        processData: false,
        url: "/db_changepwd" ,
        data: formData,
        success: function(data) {
            var textbox1 = document.getElementById('log1');
            var textbox2 = document.getElementById('log2');
            textbox2.value = data.sql_result;
            textbox1.value = data.sql_log;
            textbox1.selectionStart = textbox1.value.length;
            textbox1.selectionEnd = textbox1.value.length;
            textbox1.focus();
        },
        error: function(xhr, status, error) {
        console.error(status + " - " + error);
        }
    });
}

function query_db_user_password() {
    let formData = new FormData()
    formData.append('database_select', document.getElementById('database_select').value)
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: false,
        processData: false,
        url: "/query_db_user_password" ,
        data: formData,
        success: function(data) {
            var textbox1 = document.getElementById('log1');
            var textbox2 = document.getElementById('log2');
            textbox2.value = data.sql_result;
            textbox1.value = data.sql_log;
            textbox1.selectionStart = textbox1.value.length;
            textbox1.selectionEnd = textbox1.value.length;
            textbox1.focus();
        },
        error: function(xhr, status, error) {
        console.error(status + " - " + error);
        }
    });
}

function create_database() {
    let formData = new FormData()
    formData.append('database_select', document.getElementById('database_select').value)
    formData.append('create_database_name', document.getElementById('create_database_name').value)
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: false,
        processData: false,
        url: "/create_database" ,
        data: formData,
        success: function(data) {
            var textbox1 = document.getElementById('log1');
            var textbox2 = document.getElementById('log2');
            textbox2.value = data.sql_result;
            textbox1.value = data.sql_log;
            textbox1.selectionStart = textbox1.value.length;
            textbox1.selectionEnd = textbox1.value.length;
            textbox1.focus();
        },
        error: function(xhr, status, error) {
        console.error(status + " - " + error);
        }
    });
}

function query_database() {
    let formData = new FormData()
    formData.append('database_select', document.getElementById('database_select').value)
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: false,
        processData: false,
        url: "/query_database" ,
        data: formData,
        success: function(data) {
            var textbox1 = document.getElementById('log1');
            var textbox2 = document.getElementById('log2');
            textbox2.value = data.sql_result;
            textbox1.value = data.sql_log;
            textbox1.selectionStart = textbox1.value.length;
            textbox1.selectionEnd = textbox1.value.length;
            textbox1.focus();
        },
        error: function(xhr, status, error) {
        console.error(status + " - " + error);
        }
    });
}
function delete_database() {
    let formData = new FormData()
    formData.append('database_select', document.getElementById('database_select').value)
    formData.append('delete_database_name', document.getElementById('delete_database_name').value)
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: false,
        processData: false,
        url: "/delete_database" ,
        data: formData,
        success: function(data) {
            var textbox1 = document.getElementById('log1');
            var textbox2 = document.getElementById('log2');
            textbox2.value = data.sql_result;
            textbox1.value = data.sql_log;
            textbox1.selectionStart = textbox1.value.length;
            textbox1.selectionEnd = textbox1.value.length;
            textbox1.focus();
        },
        error: function(xhr, status, error) {
        console.error(status + " - " + error);
        }
    });
}

function create_table() {
    let formData = new FormData()
    formData.append('database_select', document.getElementById('database_select').value)
    formData.append('create_table_name', document.getElementById('create_table_name').value)
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: false,
        processData: false,
        url: "/create_table" ,
        data: formData,
        success: function(data) {
            var textbox1 = document.getElementById('log1');
            var textbox2 = document.getElementById('log2');
            textbox2.value = data.sql_result;
            textbox1.value = data.sql_log;
            textbox1.selectionStart = textbox1.value.length;
            textbox1.selectionEnd = textbox1.value.length;
            textbox1.focus();
        },
        error: function(xhr, status, error) {
        console.error(status + " - " + error);
        }
    });
}
function query_table() {
    let formData = new FormData()
    formData.append('database_select', document.getElementById('database_select').value)
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: false,
        processData: false,
        url: "/query_table" ,
        data: formData,
        success: function(data) {
            var textbox1 = document.getElementById('log1');
            var textbox2 = document.getElementById('log2');
            textbox2.value = data.sql_result;
            textbox1.value = data.sql_log;
            textbox1.selectionStart = textbox1.value.length;
            textbox1.selectionEnd = textbox1.value.length;
            textbox1.focus();
        },
        error: function(xhr, status, error) {
        console.error(status + " - " + error);
        }
    });
}

function delete_table() {
    // 获取数据
    let formData = new FormData()
    formData.append('database_select', document.getElementById('database_select').value)
    formData.append('delete_table_name', document.getElementById('delete_table_name').value)
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: false,
        processData: false,
        url: "/delete_table" ,
        data: formData,
        success: function(data) {
            var textbox1 = document.getElementById('log1');
            var textbox2 = document.getElementById('log2');
            textbox2.value = data.sql_result;
            textbox1.value = data.sql_log;
            textbox1.selectionStart = textbox1.value.length;
            textbox1.selectionEnd = textbox1.value.length;
            textbox1.focus();
        },
        error: function(xhr, status, error) {
        console.error(status + " - " + error);
        }
    });
}

function insert_data() {
    let formData = new FormData()
    formData.append('database_select', document.getElementById('database_select').value)
    formData.append('insert_sql', document.getElementById('insert_sql').value)
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: false,
        processData: false,
        url: "/insert_data" ,
        data: formData,
        success: function(data) {
            var textbox1 = document.getElementById('log1');
            var textbox2 = document.getElementById('log2');
            textbox2.value = data.sql_result;
            textbox1.value = data.sql_log;
            textbox1.selectionStart = textbox1.value.length;
            textbox1.selectionEnd = textbox1.value.length;
            textbox1.focus();
        },
        error: function(xhr, status, error) {
        console.error(status + " - " + error);
        }
    });
}

function query_data() {
    let formData = new FormData()
    formData.append('database_select', document.getElementById('database_select').value)
    formData.append('query_sql', document.getElementById('query_sql').value)
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: false,
        processData: false,
        url: "/query_data",
        data: formData,
        success: function(data) {
            var textbox1 = document.getElementById('log1');
            var textbox2 = document.getElementById('log2');
            textbox2.value = data.sql_result;
            textbox1.value = data.sql_log;
            textbox1.selectionStart = textbox1.value.length;
            textbox1.selectionEnd = textbox1.value.length;
            textbox1.focus();
        },
        error: function(xhr, status, error) {
        console.error(status + " - " + error);
        }
    });
}

function delete_data() {
    let formData = new FormData()
    formData.append('database_select', document.getElementById('database_select').value)
    formData.append('delete_sql', document.getElementById('delete_sql').value)
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: false,
        processData: false,
        url: "/delete_data" ,
        data: formData,
        success: function(data) {
            var textbox1 = document.getElementById('log1');
            var textbox2 = document.getElementById('log2');
            textbox2.value = data.sql_result;
            textbox1.value = data.sql_log;
            textbox1.selectionStart = textbox1.value.length;
            textbox1.selectionEnd = textbox1.value.length;
            textbox1.focus();
        },
        error: function(xhr, status, error) {
        console.error(status + " - " + error);
        }
    });
}

function update_data() {
    let formData = new FormData()
    formData.append('database_select', document.getElementById('database_select').value)
    formData.append('update_sql', document.getElementById('update_sql').value)
    $.ajax({
        type: "POST",
        dataType: "json",
        contentType: false,
        processData: false,
        url: "/update_data" ,
        data: formData,
        success: function(data) {
            var textbox1 = document.getElementById('log1');
            var textbox2 = document.getElementById('log2');
            textbox2.value = data.sql_result;
            textbox1.value = data.sql_log;
            textbox1.selectionStart = textbox1.value.length;
            textbox1.selectionEnd = textbox1.value.length;
            textbox1.focus();
        },
        error: function(xhr, status, error) {
        console.error(status + " - " + error);
        }
    });
}

function toggleElements() {
    var selectedOption = document.getElementById("database_select").value;
    var table_0 = document.getElementById("table_0");
    var table_1 = document.getElementById("table_1");
    var table_2 = document.getElementById("table_2");
    var table_3 = document.getElementById("table_3");
    var table_4 = document.getElementById("table_4");
    var table_5 = document.getElementById("table_5");
    var table_6 = document.getElementById("table_6");
    var table_7 = document.getElementById("table_7");
    var h5_0 = document.getElementById("h5_0");
    var h5_1 = document.getElementById("h5_1");
    var h5_2 = document.getElementById("h5_2");
    var h5_3 = document.getElementById("h5_3");
    var h5_4 = document.getElementById("h5_4");
    var h5_5 = document.getElementById("h5_5");
    var h5_6 = document.getElementById("h5_6");
    var h5_7 = document.getElementById("h5_7");
    var textbox1 = document.getElementById('log1');
    var insert_sql = document.getElementById('insert_sql');
    var delete_sql = document.getElementById('delete_sql');
    var query_sql = document.getElementById('query_sql');
    var update_sql = document.getElementById('update_sql');
    var bash_sequence = document.getElementById('bash_sequence');

    if (selectedOption === 'redis') {
        table_1.style.display = 'none';
        table_2.style.display = 'none';
        table_3.style.display = 'none';
        table_4.style.display = 'none';
        table_5.style.display = 'none';
        table_6.style.display = 'none';
        table_7.style.display = 'none';
        h5_1.style.display = 'none';
        h5_2.style.display = 'none';
        h5_3.style.display = 'none';
        h5_4.style.display = 'none';
        h5_5.style.display = 'none';
        h5_6.style.display = 'none';
        h5_7.style.display = 'none';
        textbox1.value = 'Redis is a NOSQL database.\nFor the function 8, input key, value. Example: product, 12\nFor the function 9, input key. Example: product\nFor the function 10, input key, new value. Example: product, 15\nFor the function 11, no need to input';
        insert_sql.value = 'Moros, 999'
        delete_sql.value = 'Moros'
        query_sql.value = 'printall(key, value)'
        update_sql.value = 'Moros, 888'
        bash_sequence.value = '8,9,10,11'
    } else {
        table_1.style.display = 'block';
        table_2.style.display = 'block';
        table_3.style.display = 'block';
        table_4.style.display = 'block';
        table_5.style.display = 'block';
        table_6.style.display = 'block';
        table_7.style.display = 'block';
        h5_1.style.display = 'block';
        h5_2.style.display = 'block';
        h5_3.style.display = 'block';
        h5_4.style.display = 'block';
        h5_5.style.display = 'block';
        h5_6.style.display = 'block';
        h5_7.style.display = 'block';
        textbox1.value = '';
        insert_sql.value = "USE user_info;INSERT INTO usersinfo (name, password) VALUES ('John Doe', 'mysecretpassword');"
        delete_sql.value = "USE user_info;DELETE FROM usersinfo WHERE id IS NULL ORDER BY name DESC LIMIT 1;"
        query_sql.value = "USE user_info;SELECT * FROM usersinfo;"
        update_sql.value = "USE user_info;UPDATE usersinfo SET password = 'new_password' WHERE name = 'John Doe';"
        bash_sequence.value = '1,2,3,4,5,6,7,8,9,10,11'
    }
}

        let isRunning = false;

        function toggleAction() {
            const button = document.getElementById("control-button");

            if (isRunning) {
                // Perform the "Stop" action via AJAX
                performStopAction().then(() => {
                    // Update the button to "Start" mode
                    button.value = "Start Sysdig";
                    button.className = "start-button";
                    isRunning = false;
                }).catch(error => {
                    console.error("Error stopping: " + error);
                });
            } else {
                // Perform the "Start" action via AJAX
                performStartAction().then(() => {
                    // Update the button to "Stop" mode
                    button.value = "Stop Sysdig";
                    button.className = "stop-button";
                    isRunning = true;
                }).catch(error => {
                    console.error("Error starting: " + error);
                });
            }
        }

        let sysdig_pid = 0
        // Simulate an AJAX function for starting
        function performStartAction() {
            return new Promise((resolve, reject) => {
                // Replace this with your actual AJAX call
                $.ajax({
                        type: "GET",
                        contentType: false,
                        processData: false,
                        url: "/start_sysdig",
                        success: function(response) {
                            sysdig_pid = response.pid;
                            var textbox1 = document.getElementById('log1');
                            textbox1.value = 'Sysdig Started\nsudo sysdig -p"%evt.num %evt.rawtime.s.%evt.rawtime.ns %evt.cpu %proc.name (%proc.pid) %evt.dir %evt.type cwd=%proc.cwd %evt.args latency=%evt.latency" -s 200 evt.type!=switch and proc.name!=sysdig > system_log.txt\npid=' + sysdig_pid
                        }
                    });
                resolve();
            });
        }

        // Simulate an AJAX function for stopping
        function performStopAction() {
            return new Promise((resolve, reject) => {
                // Replace this with your actual AJAX call
                $.ajax({
                        type: "POST",
                        contentType: "application/json",
                        processData: false,
                        data: JSON.stringify({ pid: sysdig_pid }),
                        url: "/stop_sysdig",
                        success: function() {
                            var textbox1 = document.getElementById('log1');
                            textbox1.value = 'Sysdig Stopped'
                        }
                    });
                resolve();
            });
        }

    let loadingInterval;
    function get_log() {
        document.getElementById("download_button").disabled = true;
        let dots = 0;
        loadingInterval = setInterval(function() {
            let statusText = document.getElementById("status-text").innerText;
            if (statusText === "Zip Finished") {
                clearInterval(loadingInterval);
            } else {
                let dotsText = ".".repeat(dots % 3);
                document.getElementById("status-text").innerText = "Zipping" + dotsText;
                dots = dots + 1;
            }
        }, 1000);

        let database_select = document.getElementById('database_select').value
        let system_log_checkbox_checked = document.getElementById('system_log_checkbox').checked;
        axios({
            url: '/download_logs',
            method: 'GET',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            params: {
                database_select: document.getElementById('database_select').value,
                system_log_checkbox_checked: system_log_checkbox_checked
            },
            // data:formData,
            responseType: 'blob', // 指定响应数据类型为Blob
        })
        .then(response => {
            const url = window.URL.createObjectURL(new Blob([response.data]));
            const link = document.createElement('a');
            link.href = url;
            clearInterval(loadingInterval);
            document.getElementById("status-text").innerText = "Zip Finished";

            const file_name = `${database_select}_${downloadCounter}.zip`;
            console.log(downloadCounter)
            downloadCounter++;

            link.setAttribute('download', file_name);
            document.body.appendChild(link);
            link.click();
            document.body.removeChild(link);
            window.URL.revokeObjectURL(url);
            document.getElementById("download_button").disabled = false;
            document.getElementById("status-text").innerText = "Download Finished";
        })
        .catch(error => {
            console.error('download failed', error);
        });

    }
</script>
</html>
